.event-flex-container {
  display: flex;
  align-items: center;
  font-size: 1rem;

  .events-flex-container-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem 5rem 1rem;
    font-size: small;
  }

  .event-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 0.5rem;
    padding: 0.5rem 0.8rem;

    width: 10rem;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
}

.event-image-first {
  background-image: url('../imgs/EventsImage/images/box1.jpg');
  background-size: 17rem 15rem;
  height: 15rem;
  width: 17rem;
}
.event-image-second {
  background-image: url('../imgs/EventsImage/images/box2.jpg');
  background-size: 17rem 15rem;
  height: 15rem;
  width: 17rem;
}
.event-image-third {
  background-image: url('../imgs/EventsImage/images/box3.jpg');
  background-size: 17rem 15rem;
  height: 15rem;
  width: 17rem;
}
