.events-flex-container-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem 5rem 1rem;
  font-size: small;
}

.event-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  max-width: 8rem;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.event-image-first {
  background-image: url('../imgs/EventsImage/images/box1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 35vmin;
  min-height: 30vmin;
}
.event-image-second {
  background-image: url('../imgs/EventsImage/images/box2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 35vmin;
  min-height: 30vmin;
}
.event-image-third {
  background-image: url('../imgs/EventsImage/images/box3.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 35vmin;
  min-height: 30vmin;
}
