.footer-background {
  background-image: url('../imgs/Footer/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 6rem;

  p {
    font-size: 0.8rem;
  }

  .flex-icon-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
}
