.mobile-banner-background-container {
  background-image: url('../imgs/Banner/Mobile/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 13rem;
}
