.footer-logo-bg {
  background-image: url('../imgs/EventsImage/Mobile/bg.png');
  display: flex;
  justify-content: center;
}

.footer-link-centered {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
