.mobile-nav-flex-container-open {
  display: flex;
  background-image: url('../imgs/Nav/Mobile/open/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;

  .logo-flex-item {
    margin-left: 2rem;
    img {
      height: 3rem;
    }
  }

  .menu-flex-item {
    margin-right: 2rem;
    img {
      height: 1.5rem;
    }
  }
}

.mobile-nav-flex-container {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;

  .logo-flex-item {
    margin-left: 2rem;
    img {
      height: 3rem;
    }
  }

  .menu-flex-item {
    margin-right: 2rem;
    img {
      height: 1.5rem;
    }
  }
}
