.background-nav {
  background-image: url('../imgs/Nav/bg.png');
  height: 90px;
  width: auto;

  .background-logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100px;
    margin-top: 25px;

    .company-logo {
      height: 75px;
    }
  }
  .company-title {
    display: flex;
    align-items: flex-end;
    margin-right: -55px;
    .company-title-img {
      height: 45px;
    }
  }
  .flex-list-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;

    li {
      cursor: pointer;
    }

    .border-left {
      height: 50px;
      border-left: 3px solid rgb(96, 96, 96);
    }
  }
}
.background-nav-bottom {
  background-image: url('../imgs/Nav/bttm\ bar.png');
  height: 19px;
}
