//Resetter
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Debugger
// *:not(path):not(g) {
//   color: hsla(210, 100%, 100%, 0.9) !important;
//   background: hsla(210, 100%, 50%, 0.5) !important;
//   outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

//   box-shadow: none !important;
// }

//Grid
@import './Grid.scss';

//NavBar
@import './NavBar.scss';

//Banner
@import './Banner.scss';

//Insights
@import './Insights.scss';

//Aboutus
@import './Aboutus.scss';
